<a href="https://colab.research.google.com/github/hruthiksiva/DataScience-Competitions/blob/main/enigma_round2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Kaggle API

In [ ]:
!gdown https://drive.google.com/u/0/uc?id=1XcMvwBxCa8WDRBbA-UsTK4T8gAyA42SP
!mv kaggle.json /root/.kaggle/
!chmod 600 /root/.kaggle/kaggle.json
!kaggle competitions download -c consumer-complaints

Downloading...
From: https://drive.google.com/u/0/uc?id=1XcMvwBxCa8WDRBbA-UsTK4T8gAyA42SP
To: /content/kaggle.json
100% 70.0/70.0 [00:00<00:00, 123kB/s]
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading test.csv.zip to /content
 73% 51.0M/70.0M [00:00<00:00, 130MB/s]
100% 70.0M/70.0M [00:00<00:00, 177MB/s]
Downloading SAMPLE_SUBMISSION.csv.zip to /content
  0% 0.00/1.81M [00:00<?, ?B/s]
100% 1.81M/1.81M [00:00<00:00, 123MB/s]
Downloading train.csv.zip to /content
 93% 149M/159M [00:00<00:00, 174MB/s]
100% 159M/159M [00:00<00:00, 191MB/s]

In [ ]:
!unzip \*.zip  && rm *.zip

Archive:  test.csv.zip
  inflating: test.csv

Archive:  train.csv.zip
  inflating: train.csv

Archive:  SAMPLE_SUBMISSION.csv.zip
  inflating: SAMPLE_SUBMISSION.csv

3 archives were successfully processed.

#Imports

In [ ]:
import pandas as pd
import numpy as np

# Data Preprocessing

In [68]:
df=pd.read_csv('train.csv',parse_dates=['Date received','Date sent to company'])
df2=pd.read_csv('test.csv',parse_dates=['Date received','Date sent to company'])
df=df.fillna('NaN')
df2=df2.fillna('NaN')
df.drop(columns=['Unnamed: 0'], inplace=True)
df2.drop(columns=['Unnamed: 0'], inplace=True)

In [ ]:
#df.info()
#df.head()
#df.describe()
#df.isnull().sum()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 19 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   Unnamed: 0                    1048575 non-null  int64
 1   Complaint_ID                  1048575 non-null  int64
 2   Date received                 1048575 non-null  datetime64[ns]
 3   Product                       1048575 non-null  object
 4   Sub-product                   1048575 non-null  object
 5   Issue                         1048575 non-null  object
 6   Sub-issue                     1048575 non-null  object
 7   Consumer complaint narrative  1048575 non-null  object
 8   Company public response       1048575 non-null  object
 9   Company                       1048575 non-null  object
 10  State                         1048575 non-null  object
 11  ZIP code                      1048575 non-null  object
 12  Tags                          1048575 non-null  object
 13  Consumer consent provided?    1048575 non-null  object
 14  Submitted via                 1048575 non-null  object
 15  Date sent to company          1048575 non-null  datetime64[ns]
 16  Company response to consumer  1048575 non-null  object
 17  Consumer disputed?            1048575 non-null  object
 18  Timely response?              1048575 non-null  object
dtypes: datetime64[ns](2), int64(2), object(15)
memory usage: 152.0+ MB

In [ ]:
df2.isnull().any()

Unnamed: 0                      False
Complaint_ID                    False
Date received                   False
Product                         False
Sub-product                     False
Issue                           False
Sub-issue                       False
Consumer complaint narrative    False
Company public response         False
Company                         False
State                           False
ZIP code                        False
Tags                            False
Consumer consent provided?      False
Submitted via                   False
Date sent to company            False
Company response to consumer    False
Consumer disputed?              False
dtype: bool

In [ ]:
df.head()

   Unnamed: 0  Complaint_ID  ... Consumer disputed? Timely response?
0           0       2535701  ...                NaN                1
1           1       3314889  ...                NaN                1
2           2       3612478  ...                NaN                1
3           3       2069704  ...                 No                1
4           4       3354927  ...                NaN                1

[5 rows x 19 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 19 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   Unnamed: 0                    1048575 non-null  int64
 1   Complaint_ID                  1048575 non-null  int64
 2   Date received                 1048575 non-null  datetime64[ns]
 3   Product                       1048575 non-null  int64
 4   Sub-product                   1048575 non-null  int64
 5   Issue                         1048575 non-null  object
 6   Sub-issue                     1048575 non-null  object
 7   Consumer complaint narrative  1048575 non-null  object
 8   Company public response       1048575 non-null  int64
 9   Company                       1048575 non-null  object
 10  State                         1048575 non-null  int64
 11  ZIP code                      1048575 non-null  object
 12  Tags                          1048575 non-null  int64
 13  Consumer consent provided?    1048575 non-null  int64
 14  Submitted via                 1048575 non-null  int64
 15  Date sent to company          1048575 non-null  datetime64[ns]
 16  Company response to consumer  1048575 non-null  int64
 17  Consumer disputed?            1048575 non-null  int64
 18  Timely response?              1048575 non-null  int64
dtypes: datetime64[ns](2), int64(12), object(5)
memory usage: 152.0+ MB

### Encoding

In [69]:
from sklearn.preprocessing import LabelEncoder
listing=['Consumer disputed?','Company response to consumer',
         'Consumer consent provided?','Submitted via','Tags','State','Company public response',
         'Issue','Sub-issue','Company',
         'Product','Sub-product']
for i in listing:
    le = LabelEncoder()
    le.fit(df[i].append(df2[i]))
    df[i] = le.transform(df[i])
    df2[i] = le.transform(df2[i])

le = LabelEncoder()
df['Timely response?'] = le.fit_transform(df['Timely response?'])

In [ ]:
def create_features(dfs):
    """
    Creates time series features from datetime index
    """
    df= pd.DataFrame()
    df['hour'] = dfs.dt.hour
    df['dayofweek'] = dfs.dt.dayofweek
    df['quarter'] = dfs.dt.quarter
    df['month'] = dfs.dt.month
    df['year'] = dfs.dt.year
    df['dayofyear'] = dfs.dt.dayofyear
    df['dayofmonth'] = dfs.dt.day
    df['weekofyear'] = dfs.dt.weekofyear
    
    X = df[['hour','dayofweek','quarter','month','year',
           'dayofyear','dayofmonth','weekofyear']]
    return X

In [ ]:
df[['hour1','dayofweek1','quarter1','month1','year1','dayofyear1','dayofmonth1','weekofyear1']]=create_features(df['Date received'])
df[['hour2','dayofweek2','quarter2','month2','year2','dayofyear2','dayofmonth2','weekofyear2']]=create_features(df['Date sent to company'])
df.drop(columns=['Date received','Date sent to company'],inplace=True)
df2[['hour1','dayofweek1','quarter1','month1','year1','dayofyear1','dayofmonth1','weekofyear1']]=create_features(df2['Date received'])
df2[['hour2','dayofweek2','quarter2','month2','year2','dayofyear2','dayofmonth2','weekofyear2']]=create_features(df2['Date sent to company'])
df2.drop(columns=['Date received','Date sent to company'],inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  del sys.path[0]

In [ ]:
df2.tail()

        Complaint_ID  Product  ...  dayofmonth2  weekofyear2
459689        342950       10  ...            7           10
459690       2599961        4  ...            9           32
459691       3824572        6  ...           10           37
459692       1418953       10  ...           17           25
459693       3532501        7  ...           14            7

[5 rows x 31 columns]

In [ ]:
print(df['Sub-product'].describe())

# Data Visualization

## Uniqueness

In [ ]:
#print(df['Consumer disputed?'].unique())
#print(df['Company response to consumer'].unique())
print(df['Date received'].unique())

['6/8/2017' '7/22/2019' '4/18/2020' ... '9/8/2013' '6/16/2018' '3/9/2014']

In [ ]:
df.isnull().sum()

Unnamed: 0                           0
Complaint_ID                         0
Date received                        0
Product                              0
Sub-product                     100901
Issue                                0
Sub-issue                       282519
Consumer complaint narrative    737766
Company public response         601927
Company                              0
State                            21018
ZIP code                         93734
Tags                            919298
Consumer consent provided?      367626
Submitted via                        0
Date sent to company                 0
Company response to consumer         1
Consumer disputed?              719432
Timely response?                     0
dtype: int64

##Correlation

In [ ]:
print(df['']. corr(df['']))

In [ ]:
df.columns

Index(['Complaint_ID', 'Date received', 'Product', 'Sub-product', 'Issue',
       'Sub-issue', 'Consumer complaint narrative', 'Company public response',
       'Company', 'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
       'Submitted via', 'Date sent to company', 'Company response to consumer',
       'Consumer disputed?', 'Timely response?'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   Complaint_ID                  1048575 non-null  int64
 1   Date received                 1048575 non-null  datetime64[ns]
 2   Product                       1048575 non-null  int64
 3   Sub-product                   1048575 non-null  int64
 4   Issue                         1048575 non-null  object
 5   Sub-issue                     1048575 non-null  object
 6   Consumer complaint narrative  1048575 non-null  object
 7   Company public response       1048575 non-null  int64
 8   Company                       1048575 non-null  object
 9   State                         1048575 non-null  int64
 10  ZIP code                      1048575 non-null  object
 11  Tags                          1048575 non-null  int64
 12  Consumer consent provided?    1048575 non-null  int64
 13  Submitted via                 1048575 non-null  int64
 14  Date sent to company          1048575 non-null  datetime64[ns]
 15  Company response to consumer  1048575 non-null  int64
 16  Consumer disputed?            1048575 non-null  int64
 17  Timely response?              1048575 non-null  int64
dtypes: datetime64[ns](2), int64(11), object(5)
memory usage: 144.0+ MB

# Train Test Split

In [70]:
df['diffdays']=df['Date sent to company']-df['Date received']

In [71]:
df['diffdays']

0         4 days
1         0 days
2         0 days
3         1 days
4         0 days
           ...
1048570   1 days
1048571   0 days
1048572   4 days
1048573   0 days
1048574   0 days
Name: diffdays, Length: 1048575, dtype: timedelta64[ns]

In [72]:
df['diffdays'] =  (df['Date sent to company'] - df['Date received']).dt.days
df.drop(columns=['Date received','Date sent to company'],inplace=True)
df2['diffdays'] =  (df2['Date sent to company'] - df2['Date received']).dt.days
df2.drop(columns=['Date received','Date sent to company'],inplace=True)

In [88]:
y = df.loc[:,'Timely response?']
cols = [ 'Product', 'Sub-product','Company public response','State','Tags', 'Consumer consent provided?',
       'Submitted via',  'Company response to consumer',
       'Consumer disputed?']
cols1 = [ 'Product','Company public response','State','Tags', 'Consumer consent provided?',
       'Submitted via',  'Company response to consumer','Company',
       'Consumer disputed?','diffdays','Sub-product']
X = df[cols1]

In [74]:
from sklearn.model_selection import train_test_split

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=2)

# Models

In [89]:
import xgboost as xgb
model = xgb.XGBClassifier(n_estimator=300)
model.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimator=300,
              n_estimators=100, n_jobs=1, nthread=None,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
              subsample=1, verbosity=1)

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943717 entries, 1026795 to 875688
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Product                       943717 non-null  int64
 1   Sub-product                   943717 non-null  int64
 2   Company public response       943717 non-null  int64
 3   State                         943717 non-null  int64
 4   Tags                          943717 non-null  int64
 5   Consumer consent provided?    943717 non-null  int64
 6   Submitted via                 943717 non-null  int64
 7   Company response to consumer  943717 non-null  int64
 8   Consumer disputed?            943717 non-null  int64
 9   hour1                         943717 non-null  int64
 10  dayofweek1                    943717 non-null  int64
 11  quarter1                      943717 non-null  int64
 12  month1                        943717 non-null  int64
 13  year1                         943717 non-null  int64
 14  dayofyear1                    943717 non-null  int64
 15  dayofmonth1                   943717 non-null  int64
 16  weekofyear1                   943717 non-null  int64
 17  hour2                         943717 non-null  int64
 18  dayofweek2                    943717 non-null  int64
 19  quarter2                      943717 non-null  int64
 20  month2                        943717 non-null  int64
 21  year2                         943717 non-null  int64
 22  dayofyear2                    943717 non-null  int64
 23  dayofmonth2                   943717 non-null  int64
 24  weekofyear2                   943717 non-null  int64
dtypes: int64(25)
memory usage: 187.2 MB

# Prediction

In [77]:
y_pred=model.predict(X_test)

In [78]:
from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_test, y_pred))

Accuracy: 0.979343493104961

In [79]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average='weighted')
#xgbooster - 0.9693
#xgbooster - 0.9687 [issues,sub issues - 0.1 test data]
#xgbooster - 0.9704 [dropped productid, date]

0.9704062702414408

In [ ]:
df

# Submission

In [ ]:
tdf=pd.read_csv('test.csv')

## Submission File

array(['Yes', 'Yes', 'Yes', ..., 'Yes', 'Yes', 'Yes'], dtype=object)

In [83]:
dataset = pd.DataFrame({'Complaint ID': df2['Complaint_ID'], 'Timely response?': le.inverse_transform(model.predict(df2[cols1])) }, columns=['Complaint ID', 'Timely response?'])
dataset.to_csv('submission.csv', index=False)

In [86]:
sum(dataset['Timely response?']=='Yes')

459084