<a href="https://colab.research.google.com/github/hruthiksiva/Machine-Learning-Competitions/blob/main/ingenium21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PreWorks

In [1]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

In [2]:
! kaggle competitions download -c ingenium-2021

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading train.csv.zip to /content
100% 257M/257M [00:01<00:00, 158MB/s]
100% 257M/257M [00:02<00:00, 133MB/s]
Downloading sample.csv.zip to /content
  0% 0.00/1.13M [00:00<?, ?B/s]
100% 1.13M/1.13M [00:00<00:00, 72.8MB/s]
Downloading test.csv.zip to /content
 86% 11.0M/12.7M [00:00<00:00, 46.2MB/s]
100% 12.7M/12.7M [00:00<00:00, 50.4MB/s]

In [3]:
! unzip /content/train.csv.zip

Archive:  /content/train.csv.zip
  inflating: train.csv

In [4]:
! unzip /content/test.csv.zip

Archive:  /content/test.csv.zip
  inflating: test.csv

In [5]:
! unzip /content/sample.csv.zip

Archive:  /content/sample.csv.zip
  inflating: sample.csv

#Imports

In [112]:
import pandas as pd
import matplotlib.pyplot as plt

## Data Wrangling

In [113]:
df = pd.read_csv('train.csv')

In [114]:
df.head

<bound method NDFrame.head of               id cat0 cat1 cat2  ...    cont11    cont12    cont13    target
0              0    A    A    A  ...  0.208745  0.275874  0.528522  8.732636
1              1    B    A    A  ...  0.171773  0.295033  0.407631  7.327100
2              2    A    A    A  ...  0.691733  0.324420  0.843984  8.252215
3              3    A    A    A  ...  0.854779  0.927974  0.341954  8.261217
4              4    A    A    B  ...  0.354788  0.580952  0.761909  7.720142
...          ...  ...  ...  ...  ...       ...       ...       ...       ...
1899995  1999995    B    B    A  ...  0.844630  0.275430  0.806233  8.512034
1899996  1999996    A    A    A  ...  0.172143  0.293162  0.824377  6.952436
1899997  1999997    A    B    A  ...  0.455238  0.361890  0.270958  7.341946
1899998  1999998    A    B    A  ...  0.212444  0.253674  0.482641  9.195865
1899999  1999999    A    A    A  ...  0.666144  0.729689  0.714965  6.587907

[1900000 rows x 26 columns]>

In [ ]:
df.shape

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1900000 entries, 0 to 1899999
Data columns (total 26 columns):
 #   Column  Dtype
---  ------  -----
 0   id      int64
 1   cat0    object
 2   cat1    object
 3   cat2    object
 4   cat3    object
 5   cat4    object
 6   cat5    object
 7   cat6    object
 8   cat7    object
 9   cat8    object
 10  cat9    object
 11  cont0   float64
 12  cont1   float64
 13  cont2   float64
 14  cont3   float64
 15  cont4   float64
 16  cont5   float64
 17  cont6   float64
 18  cont7   float64
 19  cont8   float64
 20  cont9   float64
 21  cont10  float64
 22  cont11  float64
 23  cont12  float64
 24  cont13  float64
 25  target  float64
dtypes: float64(15), int64(1), object(10)
memory usage: 376.9+ MB

In [ ]:
df.count()

In [27]:
#cat1,2 - a,b
#cat3,4,5 - a,b,c,d
#cat6 - a,b,c,d,e,g,h,i
#cat7 - a,b,c,d,e,f,g,i
#cat8 - a,b,c,d,e,f,g
#cat9 - a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,

In [54]:
df['cont13'].median()

0.4348685330401434

#Data Manipulation

In [116]:
from sklearn.preprocessing import LabelEncoder

In [117]:
cat =[ 'cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7',
       'cat8', 'cat9']
for i in cat:
  lb=LabelEncoder()
  df[str(i)]= lb.fit_transform(df[str(i)])

In [118]:
X = df.drop(['id','target'],axis=1)

In [119]:
y = df['target']

In [120]:
X

         cat0  cat1  cat2  cat3  ...    cont10    cont11    cont12    cont13
0           0     0     0     2  ...  0.718705  0.208745  0.275874  0.528522
1           1     0     0     2  ...  0.156370  0.171773  0.295033  0.407631
2           0     0     0     2  ...  0.734568  0.691733  0.324420  0.843984
3           0     0     0     0  ...  0.982756  0.854779  0.927974  0.341954
4           0     0     1     2  ...  0.426740  0.354788  0.580952  0.761909
...       ...   ...   ...   ...  ...       ...       ...       ...       ...
1899995     1     1     0     0  ...  0.356737  0.844630  0.275430  0.806233
1899996     0     0     0     0  ...  0.529357  0.172143  0.293162  0.824377
1899997     0     1     0     0  ...  0.358166  0.455238  0.361890  0.270958
1899998     0     1     0     2  ...  0.509874  0.212444  0.253674  0.482641
1899999     0     0     0     0  ...  0.520528  0.666144  0.729689  0.714965

[1900000 rows x 24 columns]

#Test Train Split

In [121]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.7, random_state = 0)

## Train Models

##Decision Tree

In [61]:
from sklearn.tree import DecisionTreeRegressor

In [64]:
model = DecisionTreeRegressor()
model.fit(X_train,y_train)
y_pred=model.predict(X_train)

ValueError: ignored

##XGBooster

In [122]:
from xgboost import XGBRegressor

In [123]:
model = XGBRegressor()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

[20:11:24] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [105]:
y_pred

array([1143733.  ,  990980.1 ,  876983.1 , ...,  665081.94,  924195.25,
        905723.06], dtype=float32)

#Prediction

In [124]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [125]:
mse = mean_squared_error(y_test, y_pred)

rmse = sqrt(mse)

print(rmse)

0.8890179036695288

# Test Data Process

In [136]:
result = pd.read_csv('test.csv')

In [138]:
result.shape()

TypeError: ignored

In [135]:
Xt = result.drop(['id','target'],axis=1)
yt = result['target']

KeyError: ignored

In [130]:
Xt

         cat0  cat1  cat2  cat3  ...    cont10    cont11    cont12    cont13
0           0     0     0     2  ...  0.718705  0.208745  0.275874  0.528522
1           1     0     0     2  ...  0.156370  0.171773  0.295033  0.407631
2           0     0     0     2  ...  0.734568  0.691733  0.324420  0.843984
3           0     0     0     0  ...  0.982756  0.854779  0.927974  0.341954
4           0     0     1     2  ...  0.426740  0.354788  0.580952  0.761909
...       ...   ...   ...   ...  ...       ...       ...       ...       ...
1899995     1     1     0     0  ...  0.356737  0.844630  0.275430  0.806233
1899996     0     0     0     0  ...  0.529357  0.172143  0.293162  0.824377
1899997     0     1     0     0  ...  0.358166  0.455238  0.361890  0.270958
1899998     0     1     0     2  ...  0.509874  0.212444  0.253674  0.482641
1899999     0     0     0     0  ...  0.520528  0.666144  0.729689  0.714965

[1900000 rows x 24 columns]

In [ ]:
cat =[ 'cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7',
       'cat8', 'cat9']
for i in cat:
  lb=LabelEncoder()
  df[str(i)]= lb.fit_transform(df[str(i)])

#Submisison

In [ ]:
result.to_csv('final.csv',index=False,header=['id','target'])